.RateLimit {
  color: #d7dae0;
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.RateLimit--empty {
  .RateLimit-Limit {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  .RateLimit-Remaining {
    display: none;
  }
}

.RateLimit--full {
  .RateLimit-Limit {
    display: none;
  }

  .RateLimit-Remaining {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
}

.RateLimit-Reset {
  margin-right: 10px;
}

.RateLimit-Progress {
  cursor: default;
  display: flex;
  font-size: 8px;
  height: 15px;
  line-height: 15px;
  text-align: center;
  user-select: none;
  width: 100px;

  .RateLimit-Remaining,
  .RateLimit-Limit {
    min-width: 15%;
  }
}

.RateLimit-Remaining {
  background-color: #517347;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.RateLimit-Limit {
  background-color: #b36161;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
