.Button {
  border-radius: 3px;
  padding: 5px 8px;
  cursor: pointer;
  user-select: none;
  background-color: #282c34;
  border: 1px solid #181a1f;
  display: inline-block;
  color: #d7dae0;
  font-size: 12px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.04);

  &.primary {
    background: #528bff;
  }

  &.success {
    background: #517347;
  }

  &.isLoading {
    opacity: 0.5;
  }
}
