@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");

@import "~codemirror/lib/codemirror.css";
@import "~styles/codemirror/themes/one-dark.css";

.Editor {
  bottom: 0;
  display: flex;
  flex-direction: column;
  flex: 1;
  left: 0;
  position: absolute;
  right: 0;
  top: 50px;

  &--preview {
    .Editor-Left,
    .Editor-Right {
      width: 50%;
    }
  }

  &-Wrapper {
    display: flex;
    height: 100%;
    width: 100%;
  }

  &-CodeMirror {
    display: flex;
    height: 100%;
    width: 100%;

    > textarea {
      display: none;
    }

    .CodeMirror {
      background-color: #282c34;
      height: 100%;
      width: 100%;
    }
  }

  &-Left,
  &-Right {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
  }

  &-Left {
    border-right: 1px solid #181a1f;
  }
}
