@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");

@import "~codemirror/lib/codemirror.css";
@import "~styles/codemirror/themes/one-dark.css";

.Editor {
  position: absolute;
  top: 50px; left: 0; right: 0; bottom: 0;

  display: flex;
  flex-direction: column;

}

.Editor-Wrapper {
  flex-grow: 1;
  display: flex;
}

.Editor-Left,
.Editor-Right {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}

.Editor-Left {
  border-right: 1px solid #181a1f;
}

.Editor-CodeMirror {
  position: relative;
  flex-grow: 1;

  > textarea {
    display: none;
  }

  .CodeMirror {
    background-color: #282c34;
    height: 100%;
    width: 100%;
  }
}
