body {
  font-size: 12px;
}

.horizontal-list {
  display: flex;
  align-items: center;

  > * + * {
    margin-left: 10px;
  }
}

.sticky {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
}

.ellipsis {
  overflow: hidden;
  white-space: pre;
  text-overflow: ellipsis;
}
