@import "~ress";

html {
  overflow: hidden;
}

body {
  font-family: Helvetica;
}

.Application {
  &-Header {
    align-items: center;
    background-color: #282c34;
    border-bottom: 1px solid #181a1f;
    display: flex;
    height: 50px;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;

    &-Logo {
      margin-left: 10px;

      svg {
        fill: #d7dae0;
        height: 30px;
        width: 93px;
      }
    }
  }
}
