.GistPanel {
  font-size: 12px;
  width: 200px;
  flex-shrink: 0;
  background: #21252b;
  border-right: 1px solid #181a1f;
}

.GistPanelFile {
  height: 30px;

  display: flex;

  &:hover {
    background: rgba(black, 0.1);
    .GistPanelFile--actions {
      display: flex;
    }
  }

  &.active {
    .GistPanelFile--name {
      color: white;
    }
  }
}

.GistPanelFile--name {
  display: flex;
  align-items: center;
  color: #aaa;
  overflow: hidden;
  white-space: pre;
  text-overflow: ellipsis;
  flex-grow: 1;
  cursor: default;
  padding: 0 5px;
  user-select: none;
}

.GistPanelFile--actions {
  align-self: stretch;
  display: flex;
  flex-shrink: 0;
  display: none;
}

.GistPanelFile--action {
  color: #aaa;
  width: 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 15px;
    fill: #aaa;
  }

  &:hover {
    .pencil {
      fill: #528bff;
    }
    .remove {
      fill: #e06c75;
    }
  }
}

.GistPanelFile--input {
  color: white;
  padding: 0 10px;
  display: block;
  width: 100%;
  outline: none;
  border: 1px solid transparent;
  &:focus {
    border-color: #528bff;
  }
}
