.Iframe {
  display: flex;
  flex-direction: column;
  width: 100%;

  &-Content {
    display: flex;
    height: 100%;
    width: 100%;

    iframe {
      border: 0;
      height: 100%;
      width: 100%;
    }
  }

  &-Toolbar {
    display: flex;
    position: absolute;
    top: 10px;
    right: 10px;

    &-Button {
      background-color: #282c34;
      border-radius: 3px;
      cursor: pointer;
      height: 40px;
      position: relative;
      width: 40px;
      display: inline-flex;
      align-items: center;
      justify-content: center;

      svg {
        height: 20px;
        width: 20px;

        g {
          fill: #d7dae0;
        }
      }

      &:after {
        background-image: linear-gradient(rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0));
        border-bottom-color: #181a1f;
        border-radius: 3px;
        border: 1px solid #181a1f;
        bottom: 0;
        content: "";
        height: inherit;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
      }
    }
  }
}
